<!-- Navbar Begins -->
<div class="container-fluid">
  <div class="row">
    <nav class="navbar navbar-default navbar-fixed-top vertical-align-content" role="navigation">  
       <div class="text-center">
        <img src="./assets/images/cryptocurrency_cryptocurrencies_4_bitcoin-512.png"style="float:left" width="50px"height="50px"alt="">      
         <a style="color:white"class="navbar-brand" href="#">Crypto Currency Tracker</a>     
       </div>     
    </nav>    
  </div>
</div>
<!-- Navbar Ends -->