<br><br>
<div class="container">
  <div class="row">
    <table class="table table-responsive table-hover">
      <tr>
        <th></th>
        <th>Coin</th>
        <th>Price</th>
        <th>1 Hour</th>
        <th class="hideMB">1 Day</th>
        <th>1 Week</th>
        <th class="hideMB">Market Cap</th>
        <th class="hideMB">24h Volume</th>
        <th>Supply</th>
      </tr>
      <tr *ngFor="let coin of btc.data">
        <td>{{btc.data.indexOf(coin) + 1}}</td>
        <td>{{coin.name}}</td>
        <td>${{roundToN(coin.quote.USD.price,2)}}</td>
        <td [style.color]="coin.quote.USD.percent_change_1h>=0?'mediumseagreen':'red'">{{roundToN(coin.quote.USD.percent_change_1h , 2)}} %</td>
        <td class="hideMB"[style.color]="coin.quote.USD.percent_change_24h>=0?'mediumseagreen':'red'">{{roundToN(coin.quote.USD.percent_change_24h , 2)}} %</td>
        <td [style.color]="coin.quote.USD.percent_change_7d>=0?'mediumseagreen':'red'">{{roundToN(coin.quote.USD.percent_change_7d , 2)}} %</td>
        <td class="hideMB">${{numberToWords(coin.quote.USD.market_cap)}} </td>
        <td class="hideMB">${{numberToWords(coin.quote.USD.volume_24h)}} </td>
        <td *ngIf="coin.max_supply>0"style="color:grey">{{roundToN(coin.circulating_supply/coin.max_supply , 2)}} %</td>
        <td *ngIf="coin.max_supply<=0"style="color:grey">-</td>
        
      </tr>
    </table>
  </div>
</div>

